.nameCircuit {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
}

.bg{
    background-color: #e9e9e9cb !important;
    border: 1px !important;
    border-style: solid !important;
    border-color: #e10600 !important;
    border-radius: 10% !important;
}

.cardCircuit {
    transform: scale(1);
    transition: transform 0.7s ease-in-out;
    position: relative;
    max-width: 304px;
}

.cardCircuit:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 8px rgba(225, 6, 0, 0.849);
}

.textDeco {
    text-decoration: none;
}

.flag{
    width: 50px !important;
    height: 30px;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.imgCircuit {
    width: 100%;
    height: auto;
    max-width: 272px;
}