.textCenter {
    text-align: center;
}

.footBg {
    background-color: #e10600;
    color: black;
    font-size: 18px;
}

.noDecor {
    text-decoration: none;
    color: inherit;
}

@media only screen and (min-width: 768px) {
    .flexCenter {
        display: flex;
        justify-content: center;
    }
}